<div class="ui inverted segment">
  <div class="ui grid">
    <div class="two wide column">
    </div>
    <div class="eight wide column">
      <div class="ui inverted relaxed horizontal list">
        <div class="item">
          <a target="_blank" routerLink="/guideline/privacypolicy" routerLinkActive="active">{{resourceService.frmelmnts?.lnk?.privacypolicy}}</a>
        </div>
        <div class="item">
          <a target="_blank" routerLink="/guideline/termsofuse" routerLinkActive="active">{{resourceService.frmelmnts?.lnk?.termsofuse}}</a>
        </div>
        <div class="item">
          <a target="_blank" routerLink="/guideline/aboutforwater" routerLinkActive="active">{{resourceService.frmelmnts?.lnk?.aboutforwater}}</a>
          </div>
      </div>
    </div>
    <div class="two wide column">
    </div>
  </div>
</div>