<footer class="footer mt-20">
  <div class="ui container">
    <div class="ui grid stackable">
      <div class="four wide column footerMenu">
        <ul class="p-0 m-0">
          <li class="mb-15">
           
            <a routerLink="guideline/privacypolicy" routerLinkActive="active">{{resourceService?.frmelmnts?.lnk?.privacypolicy}}</a>
          </li>
          <li class="mb-15">
           
            <a routerLink="guideline/termsofuse" routerLinkActive="active">{{resourceService?.frmelmnts?.lnk?.termsofuse}}</a>
          </li>
          <li class="mb-15">
           
            <a  routerLink="guideline/aboutforwater" routerLinkActive="active">{{resourceService?.frmelmnts?.lnk?.aboutforwater}}</a>
          
          </li>
        </ul> 
      </div>
      <div class="four wide column center aligned playStore">
        <label class="d-block mb-10">{{resourceService?.frmelmnts?.lnk?.footerForwaterForMobile}}</label>
        <a class="d-block" href="{{this.appUrl}}" target="_blank">
          <img class="playStore-img" src="/assets/images/google_playstore.png" alt="{{resourceService?.frmelmnts?.lnk?.footerForwaterForMobile}}">
        </a>
      </div>
      <div class="four wide column contantDetails">
        <label class="d-block mb-10">
          {{resourceService.frmelmnts?.lnk?.footerContact}} 
        </label>
        <a class="d-block mb-30" href="mailto:support@forwater.in">
          support@forwater.in
        </a>
        <label class="d-block">
          <!-- <a href="/term-of-use.html">
            {{resourceService.frmelmnts?.lnk?.footerTnC}}
          </a> -->
          <span> &copy; {{this.date | date:'yyyy'}}, Forwater</span>
        </label>
      </div>
    </div>
  </div>
</footer>
