<div class="ui grid">
    <div class="one wide column">
    </div>
    <div class="ten wide column">
        <div class="ui segment" style="height:800px;overflow:scroll;">
            <h4 class="ui header">
                <b>Terms Of Use</b>
            </h4>
            <p>This Terms of Use ('Terms of Use' or 'Terms') governs the 'User(s)' (as defined below) and the 'Creator(s)' (as
                defined below) and 'Service Providers' (as defined below) availing the Services (as defined below) being
                offered by Arghyam (hereinafter referred to as 'Arghyam'), through its website available at https://knowledge.forwater.in/
                its web and mobile application called as 'For Water'(hereinafter together referred to as the 'Platform').
                Arghyam is a registered public charitable trust having its administrative office at #599, 12th Main, HAL
                2nd Stage, Indiranagar, Bangalore, Karnataka – 560008. For the purposes of this Terms of Use, the Users,
                the Creators and the Service Providers shall collectively be referred to as 'you' or 'your'.</p>
            <p>Please read the Terms of Use carefully before using and accessing the Platform. By using, viewing or accessing
                the Platform, you:</p>
            <div class="ui list">
                <div class="item">(i) Acknowledge that you have read and understood these Terms of Use and the Privacy Policy (as defined below);</div>
                <div class="item">(ii) Represent that you are of legal age to enter into and are otherwise legally competent to enter into
                    a binding agreement; and</div>
                <div class="item">(iii) Accept these Terms of Use and agree that you will comply with and are legally bound by these Terms
                    of Use.</div>
                <div class="item">(iv) That you have sufficient rights to act as a Representative (as defined below) of a Service Provider
                    (as defined below) or an Institutional User (as defined below) as may be applicable, to enter into this
                    agreement on its behalf.</div>
            </div>
            <p> We may modify the Terms of Use at any time by posting the changes on the Platform and you agree that it shall
                be your responsibility to ascertain the changes to the Terms of Use, by viewing the revised Terms of Use.
                Your continued use of the Platform or the Services after the new and/or revised Terms are effective, indicates
                that you have read, understood, and agreed to those Terms. If you do not agree to the existing or revised
                Terms of Use, you should not use, access or view the Platform.</p>
            <h5>
                <b>Definitions</b>
            </h5>
            <p>
                <b>Creator</b> means and refers to an individual or any legally recognized organization including but not limited
                to trust, society, foundation, institution, and a body corporate registered with the Platform who may avail
                the applicable Services as detailed in Section I (v).</p>
            <p>
                <b>Privacy Policy</b> shall mean the privacy policy available on the Platform at
                <a routerLink="/guideline/privacypolicy"
                    routerLinkActive="active" target="_blank">https://knowledge.forwater.in/guideline/privacypolicy.</a>
            </p>
            <p>
                <b>Prohibited Content</b> includes the following content:</p>
            <div class="ui list">
                <div class="item">(i) Content that defames, harasses or threatens others;</div>
                <div class="item">(ii) Content that discusses illegal activities with the intent to commit such activities, or encourages others
                    to commit such activities;</div>
                <div class="item">(iii) Content that infringes or misappropriates another's intellectual property rights, including, but not
                    limited to, copyrights, trademarks or trade secrets;</div>
                <div class="item">(iv) Content that you do not have the right to disclose under contractual confidentiality obligations or
                    fiduciary duties;</div>
                <div class="item">(v) Content that contains obscene (i.e., pornographic) language or images or which is grossly offensive or
                    menacing in nature;</div>
                <div class="item">(vi) Advertising, promotional materials, or any form of commercial solicitation;</div>
                <div class="item">(vii) Content that otherwise harms other Users, other Creators or Service Providers or visitors to the Platform;</div>
                <div class="item">(viii) Content that is unlawful or that violates any applicable local, state, national or international law;</div>
                <div class="item">(ix) Content that probes, scans, or tests the vulnerability of any system or network;</div>
                <div class="item">(x) Content that plants malware or otherwise uses the Platform to distribute malware;</div>
                <div class="item">(xi) Content that breaches or otherwise circumvents any security measures;</div>
                <div class="item">(xii) Content that interferes with or disrupts any User, Creator, Service Provider, host, or network, for
                    example by sending a virus, overloading, flooding, spamming, or mail-bombing any other User, Creator
                    or part of the Platform;</div>
                <div class="item">(xiii) Content that harms minors in any way;</div>
                <div class="item">(xiv) Any viruses or any other computer code, files or programs or other malware, designed to corrupt, interrupt,
                    limit the functionality of, destroy or otherwise impact either the Platform or Arghyam’s computer systems,
                    or the computer systems of other Users or Creators or Service Providers or third-party systems.</div>
            </div>
            <p>
                <b>Service Provider</b> means and refers to any individual or legally recognized organization registered with
                the Platform to avail of the applicable Services as detailed in Section I (v) and also includes the Representatives
                of such Service Provider.</p>
            <p>
                <b>Services</b> shall mean and refer to:</p>
            <div class="ui list">
                <div class="item">(i) Access by Users of the Platform and the articles, content, collections, courses, blogposts and write
                    – ups that may be featured on the Platform and/or the functionalities available on the Platform;</div>
                <div class="item">(ii) Access of the Platform by the Creators which is given to the Creators in order to create, upload or
                    modify the User Content on the Platform either independently or using the functionalities available on
                    the Platform;</div>
                <div class="item">(iii) Access by Service Providers of the Platform to use the Content on the Platform;</div>
                <div class="item">(iv) The option available to the Users, the Creators and the Service Providers to subscribe to the newsletter
                    that may be circulated by Arghyam.</div>
            </div>
            <p>
                <b>Individual User</b> means and refers to any individual registered with the Platform who may avail the applicable
                Services as detailed in Section I (v).</p>
            <p>
                <b>Institutional User</b> means and refers to any legally recognized organization including but not limited
                to a body corporate, trust, institution, foundation, society registered with the Platform who may avail the
                applicable Services as detailed in Section I (v) and also includes the Representative(s) of such Institutional
                User.</p>
            <p>
                <b>Representative</b> means the employees, interns, retainers, agents, representative, of the Institutional
                User or a Service Provider, who may avail the applicable Services as detailed in Section I (v).</p>
            <p>
                <b>User</b> means Individual User, Institutional User and Service Providers collectively.</p>
            <p>
                <b>User Content</b> means information including content, collections, courses, articles, blogposts which are
                created and uploaded by the Creator or Service Provider on the Platform. </p>
            <p>
                <b>User Information</b> shall mean any information provided by the User or the Creator or the Service Provider
                including but not limited to name, date of birth, telephone number, email address, specialization, location
                of work, and residential address, for the creation of a User account or a Creator account or a Service Provider
                account or otherwise for the purpose of availing/accessing the Services</p>
            <p style="text-decoration:underline;">
                <b>Part A: Terms Applicable to Creator(s)</b>
            </p>
            <p>
                <b>1. Access to the Platform:</b>
                <br/> As a Creator(s), you may use and access the relevant Services solely to create and upload User Content independently
                for and on the Platform using the functionalities available on the Platform in accordance with these Terms.
                </p>
            <p>
                <b>2. Indemnity:</b>
                <br/> The Creator agrees to indemnify and hold harmless, Arghyam, its trustees, its officers, employees, authorized
                representatives and agents, against any claims, losses, damages or costs arising from </p>
            <div class="ui list">
                <div class="item">(i) Creator’s use of the Platform and/or any acts/ omissions in relation to the Creator’s use thereof</div>
                <div class="item">(ii) Infringement of intellectual property rights of third-parties in respect of User Content generated by
                    the Creator; </div>
                <div class="item">(iii) Creator’s breach of these Terms of Use.</div>
            </div>
            <p>
                <b>3. Intellectual Property:</b>
                <br/>
            </p>
            <div class="ui list">
                <div class="item">(i) Subject to Clause 4 of Section IV, Arghyam hereby grants a non-exclusive, limited, non-transferable,
                    non-sublicensable and revocable license to the Creator to access and use the functionalities of the Platform
                    to enable the Creator(s) to avail of the applicable Services as described in Section 1 (v) in the territory
                    of India. Save with respect to User Content that belongs to the Creator, the Creator has no right to
                    remove or modify (including any copyright notices or proprietary markings) any part of the Platform.</div>
                <div class="item">(ii) All right, title and interest in, and to any User Content shall vest solely with the Creator; </div>
                <div class="item">(iii) The Creator hereby grants every User a license under Creative Commons namely the Attribution 4.0 International
                    license (CC BY 4.0) available at https://creativecommons.org/licenses/by/4.0/ (“Creative Commons License”),
                    to copy, download, use, redistribute, remix, transform and build upon the User Content uploaded by the
                    Creator, in any medium or format for any purpose whether commercial or non-commercial, subject to compliance
                    with the Creative Commons License terms.</div>
            </div>
            <p>
                <b>4. Disclaimer:</b>
                <br/>
            </p>
            <div class="ui list">
                <div class="item">(i) Without limiting the Disclaimers stated under Clause 5 of Section IV, Arghyam does not warrant that the
                    integrity of the User Content you upload or create will be maintained or that by granting of any of the
                    rights granted hereunder, it is endorsing any of your views.</div>
                <div class="item">(ii) Arghyam does not assume responsibility for any Users and their use of your User Content or compliance
                    with the Creative Commons License terms detailed hereinabove. To the maximum extent permitted by law,
                    you release Arghyam from any claims (including future claims) that you may have in respect of any other
                    User or Creator infringing any of your intellectual property rights in the User Content created by you.
                    </div>
            </div>
            <p style="text-decoration:underline;">
                <b>Part B: Terms Applicable to User(s)</b>
            </p>
            <p>
                <b>1. Access to the Platform:</b>
                <br/>
            </p>
            <div class="ui list">
                Users may use the relevant Services solely to:
                <div class="item">(i) View and access the Platform and the User Content featured therein.</div>
                <div class="item">(ii) Copy, download, use, redistribute, remix, transform and build upon any User Content uploaded by Creators,
                    in accordance with the Creative Commons License. </div>
                <div class="item">(iii) subscribe to the Platform newsletter. </div>
            </div>
            <p>Notwithstanding anything stated to the contrary, Representatives of Institutional Users shall use the Services
                and/or Platform as described herein on behalf of such Institutional Users, subject to the Terms herein. The
                Institutional Users acknowledges and agrees that they shall be solely responsible for all acts or omissions
                of its Representatives including the breach by the Representatives of any of the Terms herein.</p>
            <p>
                <b>2. Indemnity:</b>
                <br/>
            </p>
            <p>The User(s) shall indemnify and hold harmless, Arghyam, its trustees, its officers, employees, authorized representatives
                and agents, against any claims, losses, damages or costs arising from</p>
            <div class="ui list">
                <div class="item">(i) User’s use of the Platform and its contents or the Services </div>
                <div class="item">(ii) User’s breach of these Terms of Use </div>
                <div class="item">(iii) Any acts or omission by User in relation to the Platform and its use thereof or the Services.</div>
            </div>
            <p>Notwithstanding anything to the contrary, the Institutional Users shall indemnify on demand and hold harmless
                Arghyam, its trustees, its officers, employees, authorized representatives and agents against any claims,
                losses, damages or costs arising from</p>
            <div class="ui list">
                <div class="item">(i) Any claim raised by the Representatives of the Institutional User. </div>
                <div class="item">(ii) Any breach of the Terms herein by the Institutional User or its Representatives. </div>
                <div class="item">(iii) Any acts or omissions by the Institutional User in relation to the Platform or the Services and its
                    use thereof by its Representatives.</div>
            </div>
            <p>Notwithstanding anything to the contrary, the Service Provider shall indemnify on demand and hold harmless Arghyam,
                its trustees, employees authorized representatives and agents against any claims, losses, damages or costs
                arising from</p>
            <div class="ui list">
                <div class="item">(i) Any claim raised by the Representatives of the Service Provider. </div>
                <div class="item">(ii) Any breach of the Terms herein by the Service Provider or its Representatives. </div>
                <div class="item">(iii) Any acts or omissions by the Service Provider in relation the Platform or the Services or its use thereof
                    by its Representatives.</div>
            </div>
            <p>
                <b>3. Disclaimers:</b>
                <br/>
            </p>
            <div class="ui list">
                <div class="item">(i) User(s) hereby expressly acknowledge that the Creators, Arghyam, its staff, are not rendering personal
                    advice and have no expertise in determining the effect of the User following any advice that may be featured
                    in the content of the Platform. User(s) further acknowledge that Arghyam will be in no way responsible
                    for any risk/outcome/results associated with using/following/relying on the User Content, that the User
                    may access/view/subscribe to on the Platform and that the User will be solely responsible for the same.
                    </div>
                <div class="item">(ii) Users hereby understand and acknowledge that any such advice and guidance is for general informational
                    purposes only and the same is prepared without considering your circumstances, objectives and/ or personal
                    needs. </div>
                <div class="item">(iii) Without limiting the disclaimers stated under Clause 5 of Section IV, Arghyam does not warrant that
                    the content made available on the Platform will meet your requirements or expectations or achieve the
                    intended purposes.</div>
            </div>
            <p>
                <b>4. Intellectual Property:</b>
                <br/>
            </p>
            <p>Arghyam hereby grants the Users a non-exclusive, non-transferable, revocable and limited right to Users to avail
                of the applicable Services as described in Section I (v) in the territory of India, subject to the Terms
                herein. </p>
            <p>
                <b>General Terms of Use:</b>
                <br/>
            </p>
            <div class="ui list">
                <b>1. Access to the Platform:</b>
                <br/>
                <br/>
                <div class="item">(i) Information provided by you for registration, including User Information, may be viewed by third parties
                    on a need to know basis. You represent that you have all rights required to provide the information that
                    you have provided to the Platform, including the User Information and represent that they are true and
                    accurate. </div>
                <div class="item">(ii) You will be solely responsible for your acts on the Platform including those conducted under the identity
                    assigned to you. </div>
                <div class="item">(iii) You understand that for the purpose of validating your account, receiving notifications from the Platform
                    and promptly receiving the said newsletter or other updates, information and correspondence from the
                    Platform, you will be required to provide accurate User Information.</div>
                <div class="item">(iv) All User Information will be used and processed in accordance with these Terms of Use and the Privacy
                    Policy. You agree that you have read and understood the Privacy Policy.</div>
                <div class="item">(v) Arghyam may in its sole discretion permit or deny your attempt to access or use the Platform and you
                    waive any right to claim access to or use of the Platform or any other claim that you may have. Any data
                    of your usage may be retained or deleted at Arghyam’s sole discretion.</div>
                <div class="item">(vi) You will be solely responsible for your acts on the Platform including those conducted using your User
                    Information.</div>
                <div class="item">(vii) You understand that the Platform shall adhere to reasonable security measures deemed to be appropriate
                    by the Platform for the provision of the Services, including, without limitation, using reasonable measures
                    to secure your information (including User Information) from unauthorized access and modifications. Such
                    security measures shall be no less stringent than the measures used by the Platform to secure its own
                    information. You will not take any action that will cause a breach of the security measures used by the
                    Platform.</div>
                <div class="item">(viii) You acknowledge that the Services being provided to you under these Terms are being provided in accordance
                    with the laws of India. If you choose to avail of the Services hereunder anywhere outside India, you
                    choose to do so at your own risk and you shall be solely responsible for any compliance with any applicable
                    laws in the jurisdiction from where you access the Services or use the Platform.</div>
            </div>
            <div class="ui list">
                <b>2. Permitted Uses:</b>
                <br/>
                <br/>
                <div class="item">(i) You will use the Platform and any information or products available therein in accordance with these
                    Terms and all applicable laws and regulations. </div>
                <div class="item">(ii) These Terms of Use are in addition to any other agreement(s) you may have with Arghyam. </div>
            </div>
            <div class="ui list">
                <b>3. Prohibited Uses:</b>
                <br/>
                <br/>
                <p>In relation to the use and access of the Platform its content and features or the Services, you (Creators
                    or Users or Service Providers) hereby agree and undertakes not to:</p>
                <div class="item">(i) Upload, modify, transmit, publish, update or share any information on behalf of a third party, including
                    any information of any person other than you, that you do not have a right to, and more specifically,
                    you will not impersonate another person. </div>
                <div class="item">(ii) Upload, transmit, share, modify, update or publish any information or material which constitutes Prohibited
                    Content, anywhere on the Platform. </div>
                <div class="item">(iii) Upload, transmit, modify, update, publish or share information which violates any law for the time
                    being in force.</div>
                <div class="item">(iv) Upload, transmit, update, publish or share information which harms minors in any way.</div>
                <div class="item">(v) Upload, transmit, publish, modify, update or share any information which deceives or misleads the addressee
                    about the origin of such messages or communicates any information which is grossly offensive or menacing
                    in nature.</div>
                <div class="item">(vi) Upload, transmit, share, modify, update or publish any viruses or any other computer code, files or
                    programs or other malware, designed to corrupt, interrupt, limit the functionality of, destroy or otherwise
                    impact Arghyam’s computer systems, or the computer systems of other Users or Creators or third-party
                    systems.</div>
                <div class="item">(vii) Upload, transmit, modify, update, share or publish anything which you do not have the rights to or
                    any material which infringes the intellectual property rights (in whatever form) of any third party.</div>
                <div class="item">(viii) Upload, transmit, modify, update, share or publish any information on behalf of a third party.</div>
                <div class="item">(ix) Engage in any unauthorized use of the Platform, the Services, the User Content or any other material
                    on the Platform or in any edition of the newsletter.</div>
                <div class="item">(x) Violate the privacy of any person.</div>
                <div class="item">(xi) Provide any third parties (excluding any third parties who have been authorized as Users or Creators
                    or Service Providers) with access to the Services.</div>
                <div class="item">(xii) Use the Platform for sending any unsolicited materials.</div>
                <div class="item">(xiii) Re – sell, grant any rights to third parties to the Services, lease, time-share, lend or rent the
                    Services.</div>
            </div>
            <div class="ui list">
                <b>4. Intellectual Property:</b>
                <br/>
                <br/>
                <div class="item">(i) The Creators and the Users agree and acknowledge that the Platform and all content, material, information
                    (apart from User Content) and the contents of the Platform including but not limited to newsletters,
                    information, logos, designs, databases, arrangement of databases, user interfaces, response formats,
                    software, pictures, logos, icons, including any intellectual property rights therein, are the sole property
                    of Arghyam or its licensors as the case may be. The platform is governed by and is being licensed to
                    the Service Providers, Creators or Users under an MIT License (defined below).</div>
                <div class="item">(ii) The Platform is developed and created using an underlying platform called as 'Sunbird' which is available
                    at http://www.sunbird.org/about/ ('Source Platform') and which is governed by the terms of the MIT License,
                    terms of which are available at https://opensource.org/licenses/MIT ('MIT License').</div>
                <div class="item">(iii) You further acknowledge and agree that you will comply with the terms of the MIT License and any applicable
                    copyright notices therein.</div>
                <div class="item">(iv) You have no right to use any search mechanisms other than that provided on the Platform and you will
                    not use any web-crawler or any data harvesting tools to harvest data of any sort from the Platform.</div>
            </div>
            <div class="ui list">
                <b>5. Disclaimers:</b>
                <br/>
                <br/>
                <div class="item">(i) The Platform and any content or information, therein are provided "as is" without warranty of any kind,
                    either express or implied, including without limitation, any implied warranties of merchantability, fitness
                    for a particular purpose, or non-infringement. Arghyam does not warrant, and hereby disclaims any warranties,
                    either express or implied, with respect to the accuracy, adequacy or completeness of the content on the
                    Platform or its newsletter. Arghyam does not warrant that the Platform will operate in an uninterrupted
                    or error-free manner or that the Platform is free of viruses or other harmful components.</div>
                <div class="item">(ii) Without limiting the foregoing, Arghyam does not warrant that:
                    <div class="ui list">
                        <div class="item">(a) The content including User Content made available on the Platform or your access to the Platform
                            will not experience outages or otherwise be uninterrupted, timely, secure or error-free.</div>
                        <div class="item">(b) The information or services obtained through or from the Platform will be accurate, complete,
                            current, error-free, completely secure or reliable.</div>
                        <div class="item">(c) It endorses the views of the Creators who upload User Content. </div>
                        <div class="item">(d) It has screened or verified any of the information posted herein.</div>
                        <div class="item">(e) That defects in the content (including User Content) made available on the Platform will be corrected.</div>
                    </div>
                </div>
                <div class="item">
                    (iii) Arghyam does not make any representation regarding your ability to upload, modify, update, transmit and/or receive
                    information from or through the Platform, and you agree and acknowledge that your ability to access the
                    content made available on the Platform may be impaired.
                </div>
                <div class="item">(iv) Arghyam disclaims any and all liability resulting from or related to such events or the access or use
                    of the online courses made available on the Platform or any information or services related to them.</div>
                <div class="item">(v) You expressly release Arghyam and where applicable its trustees, officers, employees, authorized representatives
                    and agents and representatives from any cost, damage, liability or other consequence of any use of the
                    Platform by you.</div>
                <div class="item">(vi) You understand and acknowledge that it is at your own discretion and based on our judgment that you
                    transact on the Platform.</div>
                <div class="item">(vii) Subject to applicable laws, Arghyam hereby disclaims all warranties, whether express or implied, in
                    relation to the Platform, its contents, functionalities and the Services, including but not limited to
                    warranties of merchantability or fitness for a particular purpose. Where applicable laws do not permit
                    the disclaimer of warranties to the extent detailed above, the said warranties are disclaimed to the
                    maximum limit permitted by applicable law</div>
                <div class="item">(viii) Arghyam reserves the right to remove any content including User Content on the Platform.</div>
                <div class="item">(ix) The Platform may contain links to third party platforms/Platforms/web pages maintained or controlled
                    by third parties. Arghyam shall not be responsible in any manner for the contents of these third-party
                    platforms/Platforms and if you should choose to use the link to view the third-party platforms/Platforms,
                    you choose to do so at your own risk. Arghyam does not endorse the contents nor in any manner represent
                    the accuracy or correctness of information on such third-party platforms/Platforms.</div>
            </div>
            <div class="ui list">
                <b>6. Price/ Usage fee:</b>
                <br/>
                <br/>
                <div class="item">Arghyam is providing access to its Platform to Users, Service Providers and Creators in order to achieve
                    its vision and objective of serving vulnerable communities in relation to water security and hence the
                    access to the Platform and the Services will be free of cost.</div>
            </div>
            <div class="ui list">
                <b>7. Price/ Usage fee:</b>
                <br/>
                <br/>
                <p>The aggregate liability of Arghyam to you or any third party, whether in contract, tort, negligence or otherwise,
                    howsoever arising, whether in connection with these Terms of Use, your access and use of the Platform
                    and its contents (including User Content) and functionalities or for any reason related to the operation
                    of the Platform, shall not exceed Rs. 100/- (Rupees One Hundred Only), regardless of whether the claim
                    or action is based on contract, tort, warranty, indemnification or otherwise.</p>
                <p>In no event shall Arghyam be liable to the User, Creator and any third party, for any loss of profits (anticipated
                    or real), loss of reputation, loss of data, or any direct, indirect, special, incidental, consequential,
                    punitive, tort or other damages, however caused, whether or not it has been advised of the possibility
                    of such damages.</p>
            </div>
            <div class="ui list">
                <b>8. Complaints:</b>
                <br/>
                <br/>
                <p>Arghyam takes matters related to intellectual property rights and privacy very seriously. Should you have
                    any complaints regarding the Platform, including but not limited to abuse and misuse of the Platform,
                    copyright infringement and the like, or any issues related to data privacy please report the same to
                    support@forwater.in</p>
                <p>Please provide your name, email address, physical address and contact numbers so that Arghyam may be in a
                    position to verify details or check the authenticity of the complaints.</p>
            </div>
            <div class="ui list">
                <b>9. Miscellaneous:</b>
                <br/><br/>
                <div class="item">(i)
                    <b>Termination:</b> In the event you violate this Terms of Use, Arghyam reserves the rights to terminate
                    your access to the Platform or restrict your access to the Platform at any time, in its sole discretion.
                    You acknowledge Arghyam’s right to do so and waive any claim that you may have arising from such termination
                    or restriction. Notwithstanding the termination of access, all provisions which by their nature are intended
                    to survive, shall survive termination and continue to be applicable.</div>
                <div class="item">(ii)
                    <b>Force Majeure:</b> In no event shall Arghyam be liable for any acts beyond its control or for any acts
                    of god.</div>
                <div class="item">(iii)
                    <b>Access:</b> Arghyam does not make any claim that the Platform and its contents may be lawfully viewed
                    or accessed in the jurisdiction you are viewing it in. You are solely responsible for complying with
                    laws applicable to you.</div>
                <div class="item">(iv)
                    <b>Waiver:</b> No waiver of any provision of these Terms of Use shall be binding unless executed and notified
                    by Arghyam in writing to you. No waiver of any of the provisions of these Terms of Use shall be deemed
                    or shall constitute a waiver of any other provision and no waiver shall constitute a continuing waiver.
                    You hereby waive any present or future claims you have against Arghyam arising from your use of the Platform
                    or any other User’s and/or Creator’s conduct.</div>
                <div class="item">(v)
                    <b>Entire Agreement:</b> These Terms of Use, the Privacy Policy and any other agreements you execute with
                    Arghyam as relevant, shall constitute the entire agreement between you and Arghyam for the use of the
                    Platform. Any modification to these Terms of Use shall only be binding if posted on the Platform by Arghyam.</div>
                <div class="item">(vi)
                    <b>Assignment:</b> You may not assign your obligations under this Terms of Use or any part thereof without
                    the prior written consent of Arghyam.</div>
                <div class="item">(vii)
                    <b>Severability:</b> If any provision of these Terms of Use is determined to be invalid or unenforceable,
                    it will not affect the validity or enforceability of the other provisions of these Terms of Use, which
                    shall remain in full force and effect.</div>
                <div class="item">(viii)
                    <b>Governing Law:</b> These Terms of Use are governed by the laws of India. Any disputes that may arise
                    in connection herewith or relating to these Terms of Use shall be subject to the exclusive jurisdiction
                    of the competent courts at Bengaluru, India.</div>
            </div>
        </div>
    </div>
    <div class="one wide column">
    </div>
</div>