node_modules
dist
coverage
documentation
thirdparty
mochawesome-report
/.tmp
/.sass-cache
/npm-debug.log
.coverrun
/src/app/log


/src/mochawesome-report
/src/app/migration/src/node_modules
/src/app/dist
/src/app/client/src/documentation/
/src/app/client/src/coverage
/src/app/client/src/thirdparty
src/app/dist/thirdparty/editors/
src/app/app_dist
/extensible-framework
**/dist
**/node_modules
/src/app/client/coverage
/src/app/client/documentation
/src/app/helpers/localVariables.js

src/app/helpers/jaldhara\.localVariables\.js
