.margin-top--30{
    margin-top: -30px;
}
.segment .ui.list.questionList>.item .header.seenClass{
    color: #919191 !important;
}
.segment .ui.list.questionList>.item .header{
    color: #000 !important;
}
.thread_list_view .ui.comments .comment{
    font-size: 1.5em;
    color: #666;
}
.header.quesHeading {
 font-size: 1.3em;
}