.community-overlay {
  position: absolute;
  top: 4%;
  font-size: 6em;
  left: 25%;
  display: block;
}
.community-background {
  opacity: 0.3;
  background: gray;
}
.mouse-pointer {
  cursor: pointer;
}