.header-logo {
  display: block;
  max-width: 200px;
  max-height: 80px;
  width: auto;
  height: auto;
  top: 14% !important;
  left: 10% !important;
  position: absolute !important;
}
.dropdown-content {
  text-align: right;
  white-space: nowrap;
  padding: .5em 0;
}
.alarm-icon-header {
  padding-top: 1.5rem !important;
  margin: auto !important;
}
.float-ContentLeft {
  float: left !important;
}

.ui.selection.dropdown {
  border: 0!important;
  border-bottom: 1px solid #979797!important;
  border-radius: 0!important;
}
.header-user-container {
  float: right !important;
}
/*.padding-top-circular-human-icon {
  padding-top: 0.9rem !important;
  z-index: 88;
}*/
.padding-top-1rem {
  padding-top: 1rem !important;
}
.headerDropdownProfile {
  cursor: text !important;
  background: none !important;
  font-weight: bold !important;
}
.padding-top-circular-human-icon {
  padding-top: 0 rem !important;
  padding-left: 0.2 rem !important;
  z-index: 88;
}
.logged-in-user {
  width: 30px !important;
  height: 30px !important;
  margin-top: 2px !important;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  display: inline-block !important;
  vertical-align: middle !important;
}