<div class="ui padded grid">
    <div class="row">
        <div class="twelve wide column">
            <div class="ui grid">
                <div class="one wide column"></div>
                <div class="ten wide column">
                    <a class="content header quesHeading cursor-pointer">Course id > {{id}}</a>
                </div>
                <div class="one wide column"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="twelve wide column">
            <div class="ui grid">
                <div class="one wide column"></div>
                <div class="eight wide column">
                    <div class="ui segment">
                            <div [ngClass]="loading? 'ui active inverted dimmer' : ''">
                                    <div class="ui text loader">Loading</div>
                                  </div>
                        <div class="ui top padded grid">
                            <div class="text-align-left">
                                <a class="cursor-pointer" [routerLink]="['/migration/thread-list/' + id]">
                                    <i class="large arrow left icon"></i>
                                </a>
                            </div>
                            <div class="cardsHeading">
                                Post a question {{message}}
                            </div>
                        </div>
                        <div class="ui divider"></div>
                        <form name="createQuestion" class="ui form">
                                <div *ngIf="successMessage" class="field">
                                        <div class="ui positive message">
                                            <div class="header">
                                                Your answer has been added successfully.
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="errorMessage" class="field">
                                            <div class="ui negative message">
                                                <div class="header">
                                                    Error in creating question.
                                                </div>
                                            </div>
                                        </div>                                    
                            <div class="ui form">
                                <div class="field">
                                    <label class="left-class">Title</label>
                                    <input autocomplete="off" type="text" name="threadTitle" minlength="15" required [(ngModel)]="discussionsModel.threadTitle" #threadTitle="ngModel"
                                    />
                                    <div [hidden]="threadTitle.valid || threadTitle.pristine" class="field padding-top-10">
                                        <div class="ui negative message">
                                            <div class="header">
                                                This is a required field.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="left-class">Description</label>
                                    <div id="custom-toolbar" [froalaEditor] name="threadDesc" [(ngModel)]="discussionsModel.threadDesc" #threadDesc="ngModel"></div>
                                    <!-- <textarea type="text" autocomplete="off" name="threadDesc" [(ngModel)]="discussionsModel.threadDesc" (ngModelChange)="showErrfield()" #threadDesc="ngModel"></textarea> -->
                                    <div [hidden]="threadDesc.valid || threadDesc.pristine " class="field padding-top-10">
                                        <div class="ui negative message">
                                            <div class="header">
                                                This is a required field.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ui horizontal divider"></div>
                            <div class="">
                                <div class="text-align-right">
                                    <button [ladda]="isLoading" data-style="slide-right" data-spinner-color="white" [disabled]="discussionsModel.threadTitle=='' || discussionsModel.threadDesc==''"
                                        type="button" class="ui primary submit button" (click)="onCreateThread()">
                                        <span class="ladd-label">Submit</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="three wide column"></div>
            </div>
        </div>
    </div>
</div>