<div class="ui two column centered grid">
  <div class="column">
    <div class="ui huge negative message">
      <div class="header">
        <span>
          <!-- <i class="fa fa-chain-broken fa-lg" aria-hidden="true"></i>  -->
          Maintenance Error
        </span>
      </div>
      <div>
        <p class="font24"><b>We're undergoing a bit of scheduled maintenance.</b></p>
        <p class="font15">Sorry for the inconvenience. We'll be back and running as fast as possible.</p>
        <br>
        <a href="/logoff" class="ui basic blue button">Logout</a>
      </div>
    </div>
  </div>
</div>