<div class="homeCard ui card blur-content mt-40">
    <div class="content">
        <div class="header announcementCard-header">
            <span class="header cardsHeading">Research Papers</span>
            <a class="ui right floated cardsKnowMore" href="http://www.indiawaterportal.org/research-subcategory" target="blank">View All</a>
        </div>
        <div class="description annannouncement-description">
            <div class="ui relaxed divided list">
                <div class="item" *ngFor="let rssFeedResearchPaper of rssFeedResearchPapers  | slice:0:4;">
                    <div class="content">
                        <a class="header text-decoration-underline cardsSubHeading" href="{{rssFeedResearchPaper.link}}" target="blank">{{rssFeedResearchPaper.title}} </a>
                        <br>
                        <div [innerHtml]="rssFeedResearchPaper.description"></div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>