<div class="ui padded grid">
    <div class="row">
        <div class="twelve wide column">
            <div class="ui grid">
                <div class="one wide column"></div>
                <div class="eight wide column">
                    <div class="ui segment">
                        <div class="ui top padded grid">
                            <div class="text-align-left">
                                <a class="cursor-pointer go-back-arrow" (click)="changeWidget()">
                                    <i class="large arrow left icon"></i>
                                </a>
                            </div>
                            <div class="cardsHeading">
                                <!-- {{thread.title}} -->
                            </div>
                            <div class="content margin-left-30 description">
                            </div>
                            <div class="ui comments">
                                <div class="comment">
                                    <div class="content">
                                        <div class="metadata">
                                            <span class="author">vaish</span>
                                            <span> | </span>
                                            <div class="date">08-02-2018</div>
                                            <div title="like" class="cursor-pointer" (click)="upVote(thread.id)">
                                                <i class="custom-vote-icon large thumbs up icon"></i>
                                            </div>
                                            <div title="dislike" class="cursor-pointer" (click)="downVote(thread.id)">
                                                <i class="custom-vote-icon large thumbs down icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui divider"></div>
                        <div class="ui comments margin-top-0">
                            <div class="comment">
                                <div class="content padding-top-20">
                                    <div class="metadata">
                                        <i class="user circle outline black large icon"></i>
                                        <span class="author">username</span>
                                        <span> | </span>
                                        <div class="date">08-02-2018</div>
                                    </div>
                                    <!-- <br/> can_unaccept_answer: {{reply.can_unaccept_answer}}
                        <br/> accepted_answer: {{reply.accepted_answer}} -->
                                    <div class="text margin-left-10"></div>
                                    <div class="actions metadata">
                                        <span title="like" class="cursor-pointer" (click)="actions(reply.id,2)">
                                            <i class="custom-vote-icon large thumbs up icon"></i>
                                        </span>
                                        <span title="undo like" class="cursor-pointer" (click)="undoActions(reply.id,2)">
                                            <i class="custom-vote-icon large thumbs up blue icon"></i>
                                        </span>
                                        <span title="dislike" class="cursor-pointer" (click)="actions(reply.id,5)">
                                            <i class="custom-vote-icon large thumbs down icon"></i>
                                        </span>
                                        <span title="undo dislike" class="cursor-pointer" (click)="undoActions(reply.id,5)">
                                            <i class="custom-vote-icon large thumbs down blue icon"></i>
                                        </span>
                                        <span>
                                            <span title="flag as spam" class="cursor-pointer" (click)="actions(reply.id,8)">
                                                <i class="custom-vote-icon large flag icon"></i>
                                            </span>

                                            <span title="undo spam" class="cursor-pointer" (click)="undoActions(reply.id,8)">
                                                <i class="custom-vote-icon large flag blue icon"></i>
                                            </span>
                                        </span>
                                        <span>
                                            <span title="Mark as Right Answer" class="cursor-pointer" (click)="markAsCorrect(reply.id,false)">
                                                <i class="custom-vote-icon large checkmark icon"></i> Mark as correct answer
                                            </span>
                                            <span title="Undo Marked" (click)="markAsCorrect(reply.id,true)">
                                                <i class="custom-vote-icon large check circle outline icon ui green"></i>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <form class="ui reply form" name="answerForm" (ngSubmit)="submitAnswer()" novalidate="">
                                <div *ngIf="successMessage" class="field">
                                    <div class="ui positive message">
                                        <div class="header">
                                            Your answer has been added successfully.
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <textarea type="text" autocomplete="off" name="replyAnswer" [(ngModel)]="discussionsModel.replyAnswer" required></textarea>
                                    <div class="padding-top-10">
                                        <div class="ui negative message">
                                            <div class="header">
                                                This is a required field.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-align-right">
                                    <button [disabled]="discussionsModel.replyAnswer == ''" type="submit" class="ui primary submit labeled icon button">
                                        <i [ngClass]="loading? 'ui primary loading button' : 'reply icon'"></i>Add your reply
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="three wide column"></div>
            </div>
        </div>
    </div>
</div>