<div class="ui grid">
    <div class="one wide column">
    </div>
    <div class="ten wide column">
        <div class="ui segment" style="height:800px;overflow:scroll;">
            <h4 class="ui header">
                <b>Privacy Policy</b>
            </h4>
            <p>The purpose of this privacy policy ("Privacy Policy") is to describe how Arghyam, ("Arghyam", "us", "we" or "our")
                collects, uses and maintains Information (as defined hereafter) about the Users of its Platform and the Creators
                of the User Content on the Platform Capitalised terms not defined herein shall have the same meaning as ascribed
                to them in the Terms of Use available at https://knowledge.forwater.in/guideline/termsofuse. For the purposes
                of this Terms of Use, the Users, the Creators and the Service Providers shall collectively be referred to
                as 'you' or 'your'.</p>
            <p>For the purposes of this Privacy Policy, Users and Creators shall collectively be referred to as "you" and "your".</p>
            <p>We recognize the importance of your privacy and we are committed to ensuring that you are aware of how your Information
                is being used. Please read this Privacy Policy carefully. Your use of the Platform is also governed by our Terms
                of Use.</p>
            <p> If you do not understand any aspects of our Privacy Policy, please feel free to contact us at support@forwater.in.
                Please use and access the Platform only if you agree with our policies and practices encapsulated in this
                Privacy Policy and the Terms of Use. Your use or access of the Platform shall constitute your agreement to
                the terms of this Privacy Policy. </p>
            <p style="text-decoration:underline;"><b>Applicability of the policy</b></p>
            <p>This Privacy Policy shall apply to all Information, Arghyam collects about the Users, Creators including but
                not limited to any information you may submit/upload on the Platform, e-mails that you exchange with Arghyam
                and other Users/ Creators of the Platform. The Privacy Policy does not apply to, nor does Arghyam take any
                responsibility for, any information that is collected by any third party either using the Platform or through
                any links provided on the Platform or through any advertisements featured on the Platform.</p>
            <p style="text-decoration:underline;">
                <b>Nature Of Information Collected And Manner Of Collection</b>
            </p>
            <p>As you navigate through the Platform, Arghyam may collect different types of information, collectively hereinafter
                referred to as 'Information'. This Information could be of the following types:</p>
            <div class="ui list">
                <div class="item">(i) "Sensitive Personal Information" - information such as your password;</div>
                <div class="item">(ii) "Personally Identifiable Information" - information that could be used to identify you such as your
                    name, email address, age, gender, residential address and other similar information including any User
                    Information;</div>
                <div class="item">(iii) "Non-Personal Information" - information that cannot be used to identify you "Device Information" -
                    information which is automatically collected about the operating system or version of the system from
                    which the Platform is used.</div>
            </div>
            <p>Arghyam may also collect information about searches that you have carried out on the Platform, advertisements
                or third-party links that you have visited, any emails or other correspondence you may have sent or exchanged
                with other Users or Creators on the Platform or with Arghyam.</p>
            <p>You are responsible for ensuring the accuracy of any Information you submit to Arghyam. Inaccurate Information
                may affect your ability to use the Platform, the Information you receive when using the Platform, and our
                ability to contact you. </p>
            <p>You understand that the Information collected by Arghyam, may be collected directly or through automatic tracking
                of your usage of the Platform through the use of cookies or other tracking technologies. The data automatically
                collected may include usage information such as details of your computing and/or communication device location,
                connections, or any information that Arghyam may collect through the use of cookies and other tracking technologies.
                You may decline these cookies by changing your browser settings, if permitted. However, do note that this
                may impact certain features of the Platform or your experience in using the Platform.</p>
            <p>You also may provide Information to be published or displayed or posted on the Platform or transmitted to other
                Users or other Creators of the Platform or third parties. Any such Information that is posted or transmitted
                to other parties will be at your own risk and will not be monitored by Arghyam for its content or compliance.
                Please be aware that Arghyam cannot control the actions of other Users and Creators of the Platform with
                whom you may choose to share Information with. </p>
            <p style="text-decoration:underline;">
                <b>Use Of Your Information</b>
            </p>
            <div class="ui list">
                The Information that we collect on the Platform will be used for the following purposes:
                <div class="item">(i) Correspondence/communication with you pursuant to you registering as a User/ Creator account or your
                    usage of the Platform;</div>
                <div class="item">(ii) Verification of your User or Creator or Service Provider Account;</div>
                <div class="item">(iii) Ensuring that the content from the Platform is presented in the most effective manner for you and for
                    your device;</div>
                <div class="item">(iv) To provide you with newsletters, information, products or Services that you request from us which we
                    feel may interest you, where you have consented to be contacted for such purposes;</div>
                <div class="item">(v) To notify you about changes to the Platform, this Privacy Policy or the Terms of Use;</div>
                <div class="item">(vi) For the purpose of studying User and/or Creator usage patterns;</div>
                <div class="item">(vii) For analytical purposes, including but not limited to assessing usage data, usage patterns, estimate
                    audience sizes and other similar activities;</div>
                <div class="item">(viii) In any other manner as we may describe when you provide the Information.</div>
            </div>
            <p>Except as otherwise provided herein, no Sensitive Personal Information or Personally Identifiable Information
                will be published, disclosed or shared with any third party without your express consent.</p>
            <p>Please do not include or submit any Sensitive Personal Information or Personally Identifiable Information unless
                specifically requested by Arghyam as part of registering a User/Creator account or pursuant to other applicable
                processes. If Arghyam determines that any Information you have provided or uploaded violates the terms of
                this Privacy Policy, Arghyam has the right, in its absolute discretion, to delete or destroy such Information
                without incurring any liability to you.</p>
            <p>You agree to your Personally Identifiable Information being used by us in order to contact you and deliver information
                or administrative notices and any other communication relevant to your use of the Platform. If you do not
                wish to receive these communications, you may at any time inform Arghyam using the e-mail address queriesforwater@arghyam.org.</p>
            <p style="text-decoration:underline;">
                <b>Disclosure of Your information</b>
            </p>
            <p>We consider the confidentiality and security of your Information to be of the utmost importance. We will use
                industry standard physical, technical and administrative security measures to keep your Information including
                the Sensitive Personal Information and the Personally Identifiable Information, confidential and secure and
                will not share it with third parties, except as otherwise provided in this Privacy Policy, or unless we have
                a good faith belief that such disclosure is necessary in special cases, such as in compliance with legal/
                regulatory requests, to address, fraud, security or technical issues or a physical threat to you or other
                Users or Creators. By providing any Information on the Platform, you consent to Arghyam providing such Information
                to any governmental, law enforcement or regulatory authorities who exercise jurisdiction over Arghyam and
                the Platform, upon receiving an order to do so under applicable law.</p>
            <p>Arghyam cannot guarantee the security of such Information because the Internet is not a 100% secure environment
                and there is some risk that an unauthorized third party may find a way to circumvent our security systems
                or that transmission of your Information over the Internet will be intercepted. </p>
            <p>We may disclose your Information to our agents, employees, advisors and affiliates who require the Information
                for the purposes of operating and maintaining the Platform and for facilitating your use of the Services
                offered on the Platform. </p>
            <p style="text-decoration:underline;">
                <b>Data Retention</b>
            </p>
            <p>Arghyam may retain Information, for such length of time as may be required in order for Arghyam to provide the
                concerned User or the Creator with Services, comply with legal obligations, resolve any disputes that may
                arise, enforce its rights arising out of agreements with Users, and/or for such period as may be required
                by legislations/orders of regulatory authorities to which Arghyam is subject.</p>
            <p style="text-decoration:underline;">
                <b>Privacy Rights</b>
            </p>
            <p>You acknowledge that the Platform is intended for use in the territory of India and that the Platform is operated
                and managed on servers that may be located and operated in India. By using and accessing the Platform, you
                consent to the transfer to and processing of your Information including the Sensitive Personal Information
                and the Personally Identifiable Information, on servers that may be located in India in accordance with applicable
                laws. If you chose to avail the Services or use of the Platform anywhere outside India, you shall choose
                to do so at your own risk and you acknowledge that you shall be solely responsible for any compliance with
                applicable laws in the jurisdiction from which you use the Services or the Platform.</p>
            <p style="text-decoration:underline;">
                <b>Data Security</b>
            </p>
            <p>The Information that you provide, subject to disclosure in accordance with this Privacy Policy and Terms of Use,
                shall be maintained in a safe and secure manner. Arghyam’s databases and Information are stored on secure
                servers with appropriate firewalls owned by Arghyam or by third parties.</p>
            <p>As a registered User or Creator or Service Provider (as the case may be) of the Platform you have the responsibility
                to ensure data security including that of your User Information. You should use the Platform in a responsible
                manner. You are solely responsible for all acts done using your User Information.</p>
            <p>Given the nature of internet transactions, Arghyam does not take any responsibility for the transmission of Information
                including the Information you provide to the Platform. Any transmission of your Information on the internet
                is done at your risk. Arghyam does not take any responsibility for you or any third party circumventing the
                privacy settings or security measures contained on the Platform.</p>
            <p>While Arghyam will use all reasonable efforts to ensure that your Information is safe and secure, it offers no
                representation, warranties or other assurances that the security measures are adequate, safe, fool proof
                or impenetrable. </p>
            <p style="text-decoration:underline;">
                <b>Accessing and Updating Your Information</b>
            </p>
            <p>You may change, alter or otherwise modify or update your Information including the details you provide for creating
                the User/ Creator account, at any time and contacting us at support@forwater.in.</p>
            <p>Do note however, Arghyam reserves the rights to save any Non -Personal, Device Information and usage information
                and you are not entitled to seek the deletion of the same.</p>
            <p>Arghyam at its sole discretion may permit or deny the change of any Information, if it is believed the same is
                required to observe applicable laws.</p>
            <p style="text-decoration:underline;">
                <b>Age restrictions</b>
            </p>
            <p>The Platform is only intended for Users and Creators who are competent to contract under applicable law. If you
                are not of the requisite age, you are not to provide any Personally Identifiable Information or Sensitive
                Personal Information or use the Platform or the Services. If it comes to Arghyam’s attention that any such
                information pertains to an individual who is not competent to contract under applicable law, such Information
                may be deleted without notice to you. In the event any User Content needs to be made available to a minor
                or someone who is not competent to contract or to someone who is not of applicable age, such User Content
                should be made available through a User who is competent to contract and who is of applicable age.</p>
            <p style="text-decoration:underline;">
                <b>Complaints</b>
            </p>
            <p>If you wish to place a complaint or raise a question/ concern with regard to your privacy requirements, or otherwise
                view, modify, delete or correct any of your Personally Identifiable Information or Sensitive Personal Information,
                please contact our Grievance Redressal Officer Suresh L. Ponnappa at support@forwater.in, or at contact number
                080-41698941 so that we can consider and respond to your request/complaint. We shall endeavour to address
                all requests/complaints within thirty (30) days from the date of such a request/complaint being made.</p>
            <p style="text-decoration:underline;">
                <b>Amendments to the Privacy Policy</b>
            </p>
            <p>This Privacy Policy is subject to change at Arghyam’s sole discretion. Any changes to the Privacy Policy will
                be notified by a notice on the home page.</p>
            <p style="text-decoration:underline;">
                <b>Terms of Use</b>
            </p>
            <p>This Privacy Policy shall form a part of the Terms of Use.</p>
        </div>
    </div>
    <div class="one wide column">
    </div>
</div>