<div class="ui grid">
    <div class="one wide column">
    </div>
    <div class="ten wide column">
        <div class="ui segment">
            <h4 class="ui header centered"><b>About ForWater</b></h4>
            <p>As the water crisis looms across the country, the traditional approach to training and capacity building through in-person sessions will not suffice. Moreover, the concentration of expertise and knowledge is limited to a few resource persons and given the demand they are unable to disseminate knowledge at the pace required.</p>
            <p><b>Knowledge ForWater is an attempt at transferring and building expertise at scale by making context specific, vernacular and atomized knowledge available, by using digital technologies to enable community action on water.</b> It brings together farmers, communities, NGOs, governments, and researchers to access actionable knowledge for  water security. Users will be able to find solutions to their drinking water scarcity and irrigation woes through a community that is committed to increasing water security in India.</p>
            <br>
            <p class="text-underline"><b>Features</b></p>
            <ul>
                <li>Distance learning</li>
                <li>Vernacular learning content</li>
                <li>Online and offline training</li>
                <li>Ask a question</li>
                <li>Certification from experts</li>
                <li>Help to solve water problems - at an individual and community level.</li>
            </ul>
            <br>
            <p class="text-underline"><b>Solution</b></p>
            <p>Knowledge.forwater.in is developed and created using an underlying platform called as 'Sunbird' which is available at <a href="http://www.sunbird.org/about/" target="_blank">http://www.sunbird.org/about/</a> ('Source Platform') and which is governed by the terms of the MIT License, terms of which are available at <a href="https://opensource.org/licenses/MIT" target="_blank">https://opensource.org/licenses/MIT</a> ('MIT License'). Content is created by sector leaders in groundwater management and aligned to diverse trainee profiles such as community, government staff, resource persons in NGOs etc.</p>
        </div>
    </div>
    <div class="one wide column">
    </div>
</div>


